{#
/**
 * @file
 * Implementing a default theme for views to display a list of guestbook records.
 *
 * Available variables:
 * - records: Array of records.
 * - form: Form for adding records.
 *
 * @ingroup themeable
 */
#}
<div class="guestbook">
  <div class="guestbook__right-col">
    <ul class="guestbook-list">
      {% if records is not empty %}
        {% for record in records %}
          {{ record }}
        {% endfor %}
      {% else %}
        <li>{{ 'No reviews or suggestions have been added.'|t }}</li>
      {% endif %}
    </ul>
  </div>
  <div class="guestbook__left-col">
    {{ form }}
  </div>
</div>
